<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle%></title>
    <style>
        .header-class {
            color: gray;
            font-family: cursive;
        }

        .titles {
            color: blue;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .summaries {
            color: royalblue;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .small-title {
            font-size:larger;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    </style>
</head>
<body> 
    <header class="header-class">
        <h1>Book Title and a short summary</h1><br>
    </header>
    <ul class="output">
        <div>Title:</div>
        
        <% book.forEach((word) => { %>
            <h2 class="titles"><%=word.title %></h2>
        <% }); %>
        <br>
        <p>Summary: </p>

        <% book.forEach((word) => { %>
            <p class="small-title"><%=word.title %></p>
            <p class="summaries"><%= word.summary %></p>
        <% }); %>
    </ul>
</body>
</html>