<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1>Please input your book title and a quick summary</h1>
    <form action="/add", method="POST">
        <div>Title</div>
        <input type="text" name="title"><br><br>
        <div>Summary</div>
        <input type="text" name="summary">
        <br><br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>